/*
#2F2B2B
#F3368D
#FFC468
#FFF7CA
*/
body
{
    background-color: #2F2B2B;
    color: white;
}

.jauge
{
    height: 40vw;
    width: 10vw;
}

.balance
{
    height: 10vw;
    width: 40vw;
}

#throttleroll
{
    height: 40vw;
    width: 40vw;
}

#pitchyaw
{
    right: 0;
    height: 40vw;
    width: 40vw;
}

